@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }


@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?veud6f');
    src:  url('../fonts/icomoon.eot?veud6f#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?veud6f') format('truetype'),
        url('../fonts/icomoon.woff?veud6f') format('woff'),
        url('../fonts/icomoon.svg?veud6f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    }
    
    [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    .icon-facebook:before {
    content: "\e900";
    color: #fff;
    }
    .icon-instagram:before {
    content: "\e901";
    color: #fff;
    }
    .icon-linkedin:before {
    content: "\e902";
    color: #fff;
    }
    .icon-twitter:before {
    content: "\e903";
    color: #fff;
    }